<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>392143288880-sp7lf09127mfit2h6491bso8mas14voc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.392143288880-sp7lf09127mfit2h6491bso8mas14voc</string>
	<key>API_KEY</key>
	<string>AIzaSyALIBHx9ifY0i5yuajir3YxQjUFWwc0z6M</string>
	<key>GCM_SENDER_ID</key>
	<string>392143288880</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nikolaynizruhin.flutterApp</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-b916e</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-b916e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:392143288880:ios:41ec4e9793f64d28014bf5</string>
</dict>
</plist>